@model ASP.NET_MVC_App.Models.Employee

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/Login.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .successmsg {
            color: green;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        @using (Html.BeginForm("Index", "Login", FormMethod.Post))
        {
            <div class="form-signin">
                <h3 class="form-signin-heading text-center">Login</h3>
                @Html.TextBoxFor(x => x.Email, "", new { @class = "form-control", @placeholder = "Email" })<br />
                @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Password" })
                <label class="checkbox">
                    <input type="checkbox"> Remember me
                </label><br />
                <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                @if (TempData["msg"] != null)
                {
                    @Html.Label(TempData["msg"].ToString(), new { @class = "successmsg" })
                }
            </div>
        }
    </div>
</body>
</html>
